<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Happy Budget - Accounts</title>
    <link rel="stylesheet" href="{%static "css/style.css"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="accountsNav">
      <a href="home">Happy Budget</a>
      <p>
        <img src="{% static "images/navIcon.png"%}" alt="Navigation">
      </p>
    </div>

    <div class="accountsHero">
      <h1>YOUR ACCOUNT</h1>
    </div>

    <div class="accountsMainContent">
      <div class="accountInfo">
        <h1>Account Information</h1>
        <p>Name: {{ user.user_PFname }}</p>
        <p>Username: {{ user.user_name }}</p>
        <p>Email: {{ user.user_email }}</p>
      </div>
    </div>
  </body>
</html>
