<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Happy Budget - Accounts</title>
    <link rel="stylesheet" href="{%static "css/style.css"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="accountsNav">
      <a href="home">Happy Budget</a>
      <p>
        <img src="{% static "images/navIcon.png"%}" alt="Navigation">
      </p>
    </div>

    <div class="accountsHero">
      <h1>MANAGE YOUR</h1>
      <h1>CONNECTED ACCOUNTS</h1>
    </div>

    <div class="accountsMainContent">
      <div class="accountsConnectedAccs">
        <h2>Connected Accounts</h2>
      </div>
    </div>
  </body>
</html>
