<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset = "utf-8">
        <title> First App </title>
        <link rel="stylesheet" href="{% static "css/mystyle" %}">
    </head>
    <body>
        <h1> Hello this is index.html </h1>

        <h2> Here are your access records: </h2>
        
        <div class = "djantwo">
            {% if access_records %}
            <table>
                <thead>
                    <th>Site Name </th>
                    <th>Date Accessed </th>

                </thead>
                {% for acc in access_records%}
                    <tr>
                        <td> {{ acc.user_name }} </td>
                        <td> {{ acc.user_email }} </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p> No access records found! </p>
            {% endif %}

            

        </div>
    
    </body>
</html>