<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Happy Budget - Your Finances</title>
    <link rel="stylesheet" href="{%static "css/style.css"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="financesNav">
      <a href="home">Happy Budget</a>
      <p>
        <img src="{% static "images/navIcon.png"%}" alt="Navigation">
      </p>
    </div>

    <div class="financesHero">
      <h1>YOUR FINANCES</h1>
    </div>

    <div class="financesMainContent">
      <div class="financesBalance">
        <h2>Balance</h2>
      </div>

      <div class="financesVisualBreakdown">
        <h2>Finances Breakdown</h2>
      </div>

      <div class="financesTransactions">
        <h2>Recent Transactions</h2>

        <div class="newTransaction">
          <form action="newTransaction" method="post">
            {% csrf_token %}
            <label for="transType">Transaction Type:</label>
            <select id="transType" name="transType" required>
              <option value="deposit">Deposit</option>
              <option value="entertainment">Entertainment</option>
              <option value="food">Food</option>
              <option value="bills">Bills</option>
              <option value="shopping">Shopping</option>
            </select>
            <label for="transAmount">Amount:</label>
            <input type="number" placeholder="Amount" name="transAmount" required />

            <label for="date">Date:</label>
            <input type="date" id="start" name="date" value="2021-05-01" min="2018-01-01" max="2022-12-31">

            <button type="submit">Add Transaction</button>
          </form>
        </div>

        <div class="transactionHistory">
          {% if transaction %}
          <table style="width:100%" class="transHist">
              <tr>
                  <th>Transaction Type</th>
                  <th>Amount</th>
                  <th>Date</th>
              </tr>
              {% for trans in transaction %}
              {% ifequal trans.user_id user_ID %}
              <tr>
                  <th>{{trans.transaction_type}}</th>
                  <th>{{trans.transaction_amt}}</th>
                  <th>{{trans.transaction_date}}</th>
              </tr>
              {% endifequal %}
              {% endfor %}
            </table>
            {% else %}
            <p>no transactions found!</p>
            {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
