<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Happy Budget - Personal Goals</title>
    <link rel="stylesheet" href="{%static "css/style.css"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="personalGoalsNav">
      <a href="home">Happy Budget</a>
      <p>
        <img src="{% static "images/navIcon.png"%}" alt="Navigation">
      </p>
    </div>

    <div class="personalGoalsHero">
      <h1>YOUR GOALS</h1>
    </div>

    <div class="personalGoalsMainContent">
        <p> this is where goals will go</p>
        {% if personal_goals %}
            <p>personal goals are found</p>
        {% else %}
            <p>personal goals are not found!</p>
        {% endif %}
    </div>
  </body>
</html>
