<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HappyBudget - Sign Up</title>
    <link rel="stylesheet" href="{%static "css/style.css"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
  <!--
    <div class="loginMainContent">
      <h1>Sign Up</h1>

      <div class="loginForm">
        <form class="login" action="processLogin" method="post">
          <label for="username">Username</label>
          <br>
          <input type="text" name="username" value="">
          <br>
          <label for="password">Password</label>
          <br>
          <input type="text" name="password" value="">
          <br>
          <input type="submit" value="Login">
          <br>
          <p>Or log in with</p>
        </form>
      </div>
    </div>
    -->
  </body>
</html>
