<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HappyBudget - Sign Up</title>
    <link rel="stylesheet" href="{%static "css/style.css"%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="loginMainContent">
      <h1>Sign Up</h1>
        {% if message %}
      <h1>{{ message }} </h1>
      {% endif %}
      <div class="loginForm">
        <form class="login" method="POST" action="processSignUp">
            {{form.as_p}}
            {% csrf_token %}
            <input type = "submit" name="btn btn-primary" value="submit">
          <p>Or log in with</p>
        </form>
      </div>
    </div>
  </body>
</html>
